/* latin-ext */
@font-face {
  font-family: "Gabarito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gabarito/v7/QGYwz_0dZAGKJJ4t3FFkc3Q8AkNP9Pj248KEHwgsiaPVIzHLeME.woff2)
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
    U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Gabarito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gabarito/v7/QGYwz_0dZAGKJJ4t3FFkc3Q8AkNP9Pj248KEEQgsiaPVIzHL.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Gabarito";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/gabarito/v7/QGYwz_0dZAGKJJ4t3FFkc3Q8AkNP9Pj2Y8WEEQgsiaPVIzHL.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTNFOVk6OThhvAWV8.woff2)
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
    U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v20/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTOlOVk6OThhvA.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

pre,
code,
pre *,
code * {
  font-family: var(--font-mono);
}

* {
  font-family: "Gabarito", sans-serif;
  font-weight: 400;
}

body {
  --black: #0f1115;
  --white: #f5f5f5;
  --yellow: #fff312;
  --hue-0: var(--yellow);
  --hue-1: #ff0088;
  --hue-2: #dd00ee;
  --hue-3: #9911ff;
  --hue-4: #0d63f8;
  --hue-5: #0cdcf7;
  --hue-6: #4ff0b7;

  --hue-0-transparent: #fff31244;
  --hue-1-transparent: #ff008844;
  --hue-2-transparent: #dd00ee44;
  --hue-3-transparent: #9911ff44;
  --hue-4-transparent: #0d63f844;
  --hue-5-transparent: #0cdcf744;
  --hue-6-transparent: #4ff0b744;

  --accent: var(--hue-4);
  --accent-transparent: var(--hue-4-transparent);

  --layer: #14171c;
  --layer-transparent: #14171caa;
  --divider: #1a1e26;
  --border: #2b323d;
  --feint-text: #586d8c;

  --font-mono: "JetBrains Mono", "JetBrains Mono Placeholder", monospace;
  background: var(--black);
  color: var(--color);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;

  --dot-size: 1px;
  --gap-size: 20px;
  --offset: calc(var(--gap-size) / 2);
  background-image: linear-gradient(var(--black) 60%, transparent 100%),
    radial-gradient(var(--accent) var(--dot-size), transparent var(--dot-size)),
    radial-gradient(var(--accent) var(--dot-size), transparent var(--dot-size));
  background-position: 0px 0px, 0px 0px, var(--offset) var(--offset);
  background-size: 100% 100%, var(--gap-size) var(--gap-size), var(--gap-size) var(--gap-size);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

body.hide-ui {
  background-image: none;
}

* {
  box-sizing: content-box;
  scrollbar-color: var(--border) var(--black);
}

a {
  color: var(--hue-4);
}

:root {
  color-scheme: dark;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

h1 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

pre {
  color: var(--accent);
  font-weight: normal;
  font-family: "JetBrains Mono", "JetBrains Mono Placeholder", monospace;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

#site-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  background-image: radial-gradient(transparent 1px, var(--black) 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
}

#sandbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#refresh {
  padding: 5px;
}

#refresh svg {
  transition: transform 0.4s ease-out;
}

#refresh:hover svg {
  transform: rotate(360deg);
  will-change: transform;
}

#main-logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--accent);
}

#main-logo svg {
  fill: var(--white);
  width: 41px;
  height: 14px;
  transform: translateX(1px) translateY(-1px);
}

.hierarchy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.hierarchy ol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hierarchy li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.hierarchy li a {
  text-decoration: none;
  color: var(--feint-text);
  font-size: 16px;
  line-height: 16px;
  width: 100%;
}

.hierarchy svg {
  width: 8px;
  height: 8px;
  stroke: var(--feint-text);
  position: relative;
  top: 1px;
  left: -2px;
}

.sandbox-controls {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  gap: 10px;
}

nextjs-portal {
  display: none;
}
.hide-ui #site-header,
.hide-ui #site-footer,
.hide-ui nextjs-portal {
  display: none;
}

footer.sandbox-controls {
  position: absolute;
  bottom: 0;
  right: 0;
}

#site-footer nav a,
.sandbox-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--white);
  background: var(--layer);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  line-height: 14px;
}

.sandbox-controls svg {
  width: 16px;
  height: 16px;
}

.sandbox-controls button title {
  position: absolute;
  left: -999px;
}

#site-footer {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  align-items: flex-end;
  justify-content: flex-end;
}

#site-footer nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#site-footer nav a {
  overflow: hidden;
  text-decoration: none;
  font-size: 14px;
}

#site-footer nav a svg {
  margin-left: -4px;
  margin-right: -4px;
}

#open-in-new-window {
  display: none;
}

@media (max-width: 600px) {
  #site-header {
    background-color: transparent;
    background-image: none;
    backdrop-filter: none;
    mask: none;
  }

  .hierarchy li {
    display: none;
  }

  .hierarchy li:last-child {
    display: flex;
  }

  #site-footer nav {
    display: none;
  }

  #site-footer .info {
    display: none;
  }

  #open-in-new-window {
    display: flex;
  }

  #main-logo {
    width: 41px;
    height: 14px;
    background-color: transparent;
    pointer-events: none;
  }

  #main-logo svg {
    fill: var(--accent);
  }

  .sandbox-controls button span {
    display: none;
  }
}

button.primary-action {
  background: var(--hue-4-transparent);
  border: 1px solid var(--hue-4);
  backdrop-filter: blur(5px);
}

button.plus-action {
  background: var(--hue-6-transparent);
  border: 1px solid var(--hue-6);
  backdrop-filter: blur(5px);
}

